[submodule "priori/bmp"]
	path = priori/bmp
	url = https://github.com/Nathan-925/BMPLibrary
[submodule "priori/graphical"]
	path = priori/graphical
	url = https://github.com/Nathan-925/Graphical
[submodule "priori/math3d"]
	path = priori/math3d
	url = https://github.com/Nathan-925/Math3D
[submodule "priori/math"]
	path = priori/math
	url = https://github.com/Nathan-925/Math
